
Namespace:

das_ or DAS_, e.g. das_fn_do, das_DO or DAS_DO, for shell scrpting
dac_ or DAC_, e.g. dac_fn_do, dac_DO or DAC_DO, for GNU Autotools Authconf
dat_ or DAT_, e.g. dat_fn_do, dat_DO or DAT_DO, for GNU Autotools Autotest

di_, e.g., di_debug, interface function or data variables in shell 

